
<section id="aboutUs">
  <div class="container">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>Who we are?</h2>
      <p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
    </div>
    <div class="row feature design">
      <div class="area1 columns right">
        <h3>labitur scsstie percipitoleat fabulas.</h3>
        <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
          Nec et jority have suffered alteration. </p>
        <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
          Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>
      </div>
      <div class="area2 columns feature-media left"> <img src="images/feature-img-1.png" alt="" width="100%"> </div>
    </div>
    <div class="row dataTxt">
						<div class="col-md-8 col-sm-6">
							<h4>Our Services</h4>
							<p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                            <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea.</p>
							  <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea.</p>

							<br>
						</div>

						<div class="col-md-4 col-sm-6">

							<h4>Our Menu</h4>
							<p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                            <ul class="listArrow">
								<li>Lorem ipsum dolor consectetursit amet, consectet</li>
								<li>Has molestie percipit an. Falli volumus efficiantur</li>
								<li>Falli volumus efficiantur sed id, ad vel noster</li>
								<li>Lorem ipsum dolor consectetursit amet, consectetur</li>
								<li>Ius ut etiam vivendo, graeci iudicabit constitutoa</li>
							</ul>
							</div>


					</div>
  </div>
</section>
