  <h4 class='text-center'>Please,select your category</h4>
<section id="services" class="page-section colord">

  <div class="container">
    <div class="row">

      <!-- item -->
      <a ui-sref="breakfast">
        <div class="col-md-4 text-center"> <i class="circle"><img src="images/1.png" alt="" /></i>
          <h3>Breakfast</h3>
          <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
        </div>
      </a>
      <!-- end: -->

      <!-- item -->
      <a ui-sref="lunch">
        <div class="col-md-4 text-center"><i class="circle"> <img src="images/2.png" alt="" /></i>
          <h3>Lunch</h3>
          <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
        </div>
      </a>
      <!-- end: -->

      <!-- item -->
      <a ui-sref="buffet">
        <div class="col-md-4 text-center"><i class="circle"> <img src="images/3.png" alt="" /></i>
          <h3>Buffet</h3>
          <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit impe.</p>
        </div>
      </a>
      <!-- end: -->

      <!-- item -->
      <!-- <div class="col-md-3 text-center"><i class="circle"> <img src="images/4.png" alt="" /></i>
        <h3>Party</h3>
        <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet conempus.</p>
      </div> -->
      <!-- end:-->
    </div>
  </div>
  <!--/.container-->
</section>
